# Assignment by Shekhar Biswas , biswassh91@gmail.com

## 1. What exactly is []?

In [ ]:
[] this is means the empty list

## 2 In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value?

In [1]:
spam= [2,4,6,8,10]

In [2]:
spam

[2, 4, 6, 8, 10]

In [6]:
# to assign the 3 rd value 
spam[2]="hello"

In [7]:
spam

[2, 4, 'hello', 8, 10]

In [ ]:
#  Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [8]:
spam=['a','b','c','d']

# 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [15]:
spam[int(int('3'*2)/11)] # here '3'*2 become 33

'd'

# 4. What is the value of spam[-1]?

In [17]:
spam[-1]

'd'

# 5. What is the value of spam[:2]?

In [20]:
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [21]:
bacon=[3.14,'cat',11,'cat',True]

In [22]:
bacon

[3.14, 'cat', 11, 'cat', True]

# 6. What is the value of bacon.index('cat')?

In [24]:
bacon.index('cat') # here index functio consider first index value

1

# 7. How does bacon.append(99) change the look of the list value in bacon?

In [25]:
bacon.append(99)

In [26]:
bacon # by default it append in last

[3.14, 'cat', 11, 'cat', True, 99]

# 8. How does bacon.remove('cat') change the look of the list in bacon?

In [27]:
bacon.remove('cat')

In [28]:
bacon # it consider the first occurence of 'cat'

[3.14, 11, 'cat', True, 99]

# 9. What are the list concatenation and list replication operators?

In [ ]:
(*) list raplication and (+ ) is a list concatination operator

In [29]:
l1=[2,4,8]
l2=[8,4,2]

In [30]:
l1+l2

[2, 4, 8, 8, 4, 2]

In [33]:
l1*2+l2*3

[2, 4, 8, 2, 4, 8, 8, 4, 2, 8, 4, 2, 8, 4, 2]

# 10. What is difference between the list methods append() and insert()?

In [ ]:
append()- append is the end of the list 
insert()- it insert before index position

In [34]:
bacon

[3.14, 11, 'cat', True, 99]

In [35]:
bacon.append(3)

In [36]:
bacon # here 3 has been added in last

[3.14, 11, 'cat', True, 99, 3]

In [41]:
bacon.insert(2,"test value")

In [42]:
bacon

[3.14, 11, 'test value', 'sds', 'cat', True, 99, 3]

# 11. What are the two methods for removing items from a list?

In [44]:
# Using remove function 
bacon
bacon.remove('cat')

In [45]:
bacon

[3.14, 11, 'test value', 'sds', True, 99, 3]

In [46]:
bacon

[3.14, 11, 'test value', 'sds', True, 99, 3]

In [49]:
bacon.pop(1) # by default this function  is pop the last value

11

In [50]:
bacon

[3.14, 'test value', 'sds', True, 99]

# 12. Describe how list values and string values are identical

In [ ]:
Not resolved

# 13. What's the difference between tuples and lists?

In [ ]:
List - list are mutable they can update added , list are written using squre braces[]
tuples - tuple are immutable they can not be update , tuples are written using parentheses ()

# 14. How do you type a tuple value that only contains the integer 42?

In [66]:
tuple_=(42,)

In [67]:
tuple_

(42,)

# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [80]:
t1 = (1,4,5,6) # tuple has convert into list 
t = list(t1)
t

[1, 4, 5, 6]

In [83]:
list1=[3,2,5,3]
list1
tup=tuple(list1)

TypeError: 'int' object is not callable

# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [ ]:
Referance too the list values

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [ ]:
copy.copy() do a shallow copy of the list , copy.deepcoy() do deep copy of the list copy.deepcopy() do duplicate list inside the list